name: golangci-lint

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: read

jobs:
  golangci-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: setup go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: bootstrap
        run: script/bootstrap

      - name: run golangci-lint
        uses: golangci/golangci-lint-action@v9
